.top_bar{
    width: 100%;
    height: 90px;
    background-color:rgb(0, 169, 113);
    display: flex;
    justify-content: space-between;
    align-items: center;

}
img{
    vertical-align: middle;
}
body{
    background-color: #f4f4f4;
    text-decoration: none;
}
.user_logo{
    border: 2px solid #c2c2c200;
    margin: 10px;
    width: 200px;
    height: 40px;
    padding: 1px;
    border-radius: 50px;
    background-color: #ffffff;
    font-family: cursive;
    transition: transform ease-in-out 0.4s;
}
.user_logo:hover{
    transform: scale(1.05);

}
.logo{
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
a{
    text-decoration: none;
    color:black;
    
}
.heading{
    font-family: helvetica;
    color: #ffffff;
}   
.aim_scope:active{
    color: aqua;
}
.login{
    width: 100px;
}
.goals{
    width: 25px;
    height: 25px;
}
h1{
    font-family:Helvetica;
}
.main_content{
    margin: 5%;
}
.block{
    font-family: cursive;
    background-color: rgb(8, 185, 126);
    padding: 2%;
    border-radius: 10px;
    width: 50%;
}